<div class="tab-nav">
  <a
    routerLink="vehicle-cost"
    routerLinkActive="tab-btn--active"
    class="tab-btn"
  >
    {{ 'analytics.tabVehicleCost' | translate }}
  </a>
  <a
    routerLink="department-cost"
    routerLinkActive="tab-btn--active"
    class="tab-btn"
  >
    {{ 'analytics.tabDepartmentCost' | translate }}
  </a>
  <a
    routerLink="technician-kpis"
    routerLinkActive="tab-btn--active"
    class="tab-btn"
  >
    {{ 'analytics.tabTechnicianKpis' | translate }}
  </a>
  <a
    routerLink="vendor-pricing"
    routerLinkActive="tab-btn--active"
    class="tab-btn"
  >
    {{ 'analytics.tabVendorPricing' | translate }}
  </a>
  <a
    routerLink="spare-parts-orders"
    routerLinkActive="tab-btn--active"
    class="tab-btn"
  >
    {{ 'analytics.tabSparePartsOrders' | translate }}
  </a>
</div>

<div class="tab-content">
  <router-outlet></router-outlet>
</div>
