<div class="tab-nav">
  <a
    routerLink="vehicle-types"
    routerLinkActive="tab-btn--active"
    class="tab-btn"
  >
    {{ 'settings.vehicleTypes.title' | translate }}
  </a>
  <a
    routerLink="departments"
    routerLinkActive="tab-btn--active"
    class="tab-btn"
  >
    {{ 'settings.departments.title' | translate }}
  </a>
  <a
    routerLink="workshops"
    routerLinkActive="tab-btn--active"
    class="tab-btn"
  >
    {{ 'settings.workshops.title' | translate }}
  </a>
  <a
    routerLink="garage-locations"
    routerLinkActive="tab-btn--active"
    class="tab-btn"
  >
    {{ 'settings.garageLocations.title' | translate }}
  </a>
</div>

<div class="tab-content">
  <router-outlet></router-outlet>
</div>
