<div class="tab-nav">
  <a routerLink="disbursements" routerLinkActive="tab-btn--active" class="tab-btn">
    {{ 'spareParts.page.tabDisbursements' | translate }}
  </a>
  <a routerLink="catalog" routerLinkActive="tab-btn--active" class="tab-btn">
    {{ 'spareParts.page.tabCatalog' | translate }}
  </a>
  <a routerLink="price-intelligence" routerLinkActive="tab-btn--active" class="tab-btn">
    {{ 'spareParts.page.tabPriceIntelligence' | translate }}
  </a>
  <a routerLink="vendors" routerLinkActive="tab-btn--active" class="tab-btn">
    {{ 'spareParts.page.tabVendors' | translate }}
  </a>
</div>

<div class="tab-content">
  <router-outlet></router-outlet>
</div>
